<header class="header_">
	<div class="pull-left" style="margin-left:20px;">
		<%= link_to root_path, 'data-no-turbolink' => true do %>
			<%= image_tag(image_url("basketball.png"), :alt => 'dribblers logo', 
				:class => 'dribblers-logo') %>
			<div class="logo-text white">
				<div style="font-size:18px">Dribblers</div>
				<div style="font-size:12px">Basketball app trainer</div>
			</div>
		<% end %>
	</div>
	<div class="pull-right">
		<div class="item-page g-menu">
			<ul class="nav navbar-nav">
				<li>
					<a href="#" class="avenir-regular" data-no-turbolinks="true">Home</a>
				</li>
				<li>
					<a href="#" class="avenir-regular" data-no-turbolinks="true">Features</a>
				</li>
				<li>
					<a href="#" class="avenir-regular" data-no-turbolinks="true">About</a>
				</li>
				<li>
					<a href="#" class="avenir-regular" data-no-turbolinks="true">Contact</a>
				</li>
			</ul>
		</div>
		<button type="button" class="show_menu"  id="mostrar-nav">
    	<i class="fa fa-bars fa-2x white"></i>
  	</button>
  </div>
</header>
	
</div>