<div>
    <img src="<%= image_url("dribblers-banner.jpg") %>" style="width: 100%"/>
</div>
<br/>
<br/>
<br/>
contenido
<br/>
<br/>
<br/>
contenido
<br/>
<br/>
<br/>
contenido
<br/>
<br/>
<br/>
contenido
<br/>
<br/>
<br/>
contenido
<br/>
<br/>
<br/>
contenido
<br/>
<br/>
<br/>
contenido
<br/>
<br/>
<br/>
contenido
<br/>
<br/>
<br/>
contenido
<br/>
<br/>
<br/>
contenido
<br/>
<br/>
<br/>
contenido
<br/>
<br/>
<br/>
contenido
<br/>
<br/>
<br/>
contenido