<div>
    <img src="<%= image_url("dribblers-banner.jpg") %>" style="width: 100%"/>
</div>
<br/>
<br/>
<br/>
     
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Crea Actividades<br></h2>
                    <p class="lead">Disfruta con tus amigos las actividades y juegos en grupo</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">			
                    <img class="img-responsive" src="<%= image_url("actividades.png") %>" style="width: 65%; height: 65%">		
                </div>
				
            </div>

        </div>
     

    </div>
   
<br/>
<br/>
<br/>
<div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Gestiona tus entrenamientos<br></h2>
                    <p class="lead">Con nuestra aplicacion podras gestionar tus entrenamientos en tu celular</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="<%= image_url("entrenamiento.png") %>" style="width: 65%; height: 65%">
                </div>
            </div>

        </div>
       

    </div>
   <br />
   <br />
    <footer>
        <div class="container" >
    

            <div class="row">
                <div class="col-lg-12" style="text-align: center">
                    <ul class="list-inline">
                       
                    </ul>
                    <p class="copyright text-muted small">Copyright - UPC  2017</p>
                </div>
            </div>
        </div>
    </footer>
    <br />